body {
  font-family: "Raleway", sans-serif;
}

.numeros{
  font-family: "Nunito", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
.card {
  box-sizing: border-box;
  background-color: #a340ff;
  object-fit: cover; 
}
.card a {
  margin: 1em;
}

.imagen{
  margin: .15em;
}

.grilla{
  border-style: solid;
  border-color: white;
  background-color: skyblue;
  padding: 1em;
  margin: auto;
  width: 90%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.btnCard{
  display: flex;
  align-items: end;
  justify-content: center;
}

